/* Reset some default styles */
html,
body,
div,
h1,
h2,
h3,
p,
span,
applet,
object,
iframe,
h4,
h5,
h6,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-weight: normal;
  vertical-align: baseline;
}

/* Set box-sizing to border-box */
*,
*:before,
*:after {
  box-sizing: border-box;
}

/* Apply a common font family */
body {
  font-family: "Roboto", sans-serif;
  margin: 20px;
}

nav {
  color: #333;
  background-color: white;
  padding: 10px;
  text-align: center;
}

nav a {
  color: #333;
  text-decoration: none;
  margin: 0 15px;
  font-size: 18px;
}

nav a:hover {
  text-decoration: underline;
}

/* Style for loginScreen section */
#loginScreen,
#registerScreen {
  text-align: center;
}

#loginScreen h1 {
  margin-bottom: 10px;
}

#registerScreen h1 {
  margin-bottom: 10px;
}

#loginScreen input,
#registerScreen input {
  padding: 5px;
  margin-bottom: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

#loginScreen button,
#registerScreen button {
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 40%; /* Make the buttons take the full width of their container */
  padding: 8px;
  cursor: pointer;
  border: none;
  margin-bottom: 10px;
}

#loginButton {
  background-color: #3498db;
  color: #fff;
}

#registerButton {
  background-color: #2ecc71;
  color: #fff;
}

#toggleFormButton {
  background-color: black;
}
