/* Reset some default styles */
html,
body,
div,
h1,
h2,
h3,
p,
span,
applet,
object,
iframe,
h4,
h5,
h6,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-weight: normal;
  vertical-align: baseline;
}

/* Set box-sizing to border-box */
*,
*:before,
*:after {
  box-sizing: border-box;
}

/* Apply a common font family */
body {
  font-family: "Roboto", sans-serif;
  margin: 20px;
}

nav {
  color: #333;
  background-color: white;
  padding: 10px;
  text-align: center;
}
nav a {
  color: #333;
  text-decoration: none;
  margin: 0 15px;
  font-size: 18px;
}
nav a:hover {
  text-decoration: underline;
}

/* Style for roomListScreen section */
#roomListScreen {
  display: block;
  text-align: center;
}

#roomListScreen h1 {
  margin-bottom: 10px;
}

#roomTable {
  margin: auto;
  width: 80%;
  border-collapse: collapse;
  margin-top: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.room-row {
  border: 1px solid #ddd;
}

.room-row th,
.room-row td {
  padding: 12px;
  text-align: center;
  border: 1px solid #ddd;
}

.room-row th {
  background-color: #4caf50;
  color: white;
  border-bottom: 2px solid #45a049; /* Added border to distinguish heading */
}

.joinRoomButton {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 8px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.joinRoomButton:hover {
  background-color: #45a049;
}

/* Style for chatScreen section */
#chatScreen {
  /* display: none; */
  margin-top: 20px;
  text-align: center;
}

#chatScreen h1 {
  margin-bottom: 10px;
}

#auctionInfo {
  margin-top: 10px;
}

#currentHighestPrice {
  margin-bottom: 5px;
}

#highestPriceValue {
  font-weight: bold;
  color: #e74c3c; /* Stand out color for the highest price */
}

#auctionStatus {
  margin-top: 10px;
}

#messages {
  border: 1px solid #ddd;
  padding: 10px;
  max-height: 300px;
  overflow-y: auto;
}

#messageInput,
#bidId {
  padding: 5px;
  width: 80%;
}

#sendMessageButton,
#bidButton,
#leaveRoomButton {
  padding: 8px;
  cursor: pointer;
  border: none;
  margin-top: 10px;
}

#sendMessageButton {
  background-color: #3498db;
  color: #fff;
}

#sendMessageButton:active {
  background-color: #052d47;
}

#bidButton {
  background-color: #f39c12;
  color: #fff;
}

#bidButton:active {
  background-color: #7a4e06;
}

#leaveRoomButton {
  background-color: #e74c3c;
  color: #fff;
}

#leaveRoomButton:active {
  background-color: #490f09;
}
